<%- include('../partials/head', {titleName: "Administrators"}) %>
 
    <body data-sidebar="dark" data-layout-mode="dark" data-topbar="light">

    <!-- <body data-layout="horizontal" data-topbar="colored"> -->
        <div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                </div>
                <div class="modal-body">
                    <div id="alertContainer"></div>
                    Are you sure you want to delete?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="closeModal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="deleteSticker">Delete</button>
                </div>
            </div>
        </div>
    </div>

        <!-- Begin page -->
        <div id="layout-wrapper">

            <%- include('../partials/page_top') %>

            <!-- ========== Left Sidebar Start ========== -->
            <%- include('../partials/side_menu', {selected: 2}) %>
            <!-- Left Sidebar End -->

            

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <% if (user.power == 0) { %>
                                <div class="col-12">
                                  <div class="alert alert-warning" role="alert">
                                    This is a demo account. Any changes you make will not be saved.
                                  </div>
                                </div>
                              <% } %>
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0">Administrators</h4>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <% for(let i=0; i<users.length; i++) {%>
                                <% const element = users[i]; %>
                            <div class="col-xl-3 col-sm-6">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <div class="clearfix"></div>
                                        <div class="mb-4">
                                            <img src="<%= element.profilePicture ? element.profilePicture : 'https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png' %>" alt="" class="avatar-lg rounded-circle img-thumbnail">
                                        </div>
                                        <h5 class="font-size-16 mb-1"><a href="#" class="text-dark"><%= element.username %></a></h5>
                                        <p class="text-muted mb-2"><%= element.email %></p>
                                        
                                    </div>

                                    <div class="btn-group" role="group">
                                        <a href="/admin/edit_users?id=<%= element.user_id %>" type="button" class="btn btn-outline-light text-truncate"><i class="uil uil-user me-1"></i> Profile</a>
                                        <a onclick="deleteUser(this, '<%= element.id %>')" class="btn btn-outline-light text-truncate"><i class="uil uil-trash-alt me-1"></i> Remove</a>
                                    </div>
                                </div>
                            </div>
                            <% }%>
                        </div>
                        <!-- end row -->
                        
                    </div> <!-- container-fluid -->
                </div>
            <!-- end main content-->
            <%- include('../partials/footer') %>
        </div>
        <!-- END layout-wrapper -->

        

        <!-- Right Sidebar -->
        <%- include('../partials/right_sidebar') %>
        <!-- /Right-bar -->

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- JAVASCRIPT -->
        <script src="../assets/libs/jquery/jquery.min.js"></script>
        <script src="../assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../assets/libs/metismenu/metisMenu.min.js"></script>
        <script src="../assets/libs/simplebar/simplebar.min.js"></script>
        <script src="../assets/libs/node-waves/waves.min.js"></script>
        <script src="../assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
        <script src="../assets/libs/jquery.counterup/jquery.counterup.min.js"></script>
        <script src="../assets/libs/apexcharts/apexcharts.min.js"></script>
        <script src="../assets/js/search.js"></script>
        <script src="../assets/js/pages/dashboard.init.js"></script>

        <!-- App js -->
        <script src="../assets/js/app.js"></script>   
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- App js -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="assets/libs/parsleyjs/parsley.min.js"></script>
        <script src="assets/js/pages/form-validation.init.js"></script>
        <script>
        $('#closeModal').click(function () {
            $('#deleteUser').modal('hide');
        });
        function deleteUser(element, reportId) {
        $('#deleteUser').modal('show');
        var id = reportId;
        let btn = element;
        console.log(btn);
        $('#deleteSticker').click(function () {
            $.ajax({
                url: '/admin/deleteAdmin',
                type: 'POST',
                data: {
                    id: id
                },
                success: function (res) {
                    if (res.status === 'success') {
                        $('#deleteUser').modal('hide');
                        btn.parentNode.parentNode.parentNode.remove();
                        $('#alertContainer').html(`
                        <div class="alert alert-success" role="alert">
                                ${res.message}
                        </div>
                    `);
               setTimeout(function () {
                    $('#alertContainer .alert').hide();
                }, 2000);
            }
                },
                dataType: "json",
            });
        });
    }
        </script>

    </body>

</html>