<%- include('../partials/head', {titleName: "Settings"}) %>
 
    <body data-sidebar="dark" data-layout-mode="dark" data-topbar="light">

    <!-- <body data-layout="horizontal" data-topbar="colored"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">

            <%- include('../partials/page_top') %>

            <!-- ========== Left Sidebar Start ========== -->
            <%- include('../partials/side_menu', {selected: 17}) %>
            <!-- Left Sidebar End -->
          

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <% if (user.power == 0) { %>
                            <div class="col-12">
                              <div class="alert alert-warning" role="alert">
                                You are on a demo account. You cannot access settings page.
                              </div>
                            </div>
                          <% } else  { %>
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0">Settings</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                           <div class="row mb-4">
                            <div class="col-xl-6">
                                <div class="card  h-100">
                                    <div class="card-body">
                                        <div class="text-muted">
                                            <h5 class="font-size-16">Change Password</h5>
                                            <input type="text" class="form-control" id="id" value="<%= user.id || 0 %>" hidden>
                                            <div class="table-responsive mt-4">
                                                <div id="alertContainer2"></div>
                                                <div class="mt-4">
                                                    <p class="mb-1">Username:</p>
                                                    <input type="text" class="form-control" id="username" value="<%= user.username || '' %>" disabled>
                                                </div>
                                                <div class="mt-4">
                                                    <p class="mb-1">Password:</p>
                                                    <input type="text" class="form-control" id="password" placeholder="Enter new Password">
                                                </div>
                                                <div class="d-flex flex-wrap gap-3 mt-3">
                                                    <a type="submit" id="btnUpdate" class="btn btn-primary waves-effect waves-light w-md">Change</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <div class="text-muted">
                                            <h5 class="font-size-16">Server Settings</h5>
                                            <div id="alertContainer1"></div>
                                            <div class="table-responsive mt-4">
                                                <div class="mt-4">
                                                    <p class="mb-1">App Logo :</p>
                                                    <input type="file" class="form-control" id="appIcon">
                                                </div>
                                                <div class="mt-4">
                                                    <p class="mb-1">App Secret :</p>
                                                    <div class="hstack gap-3">
                                                        <input class="form-control me-auto" type="text" disabled value="<%= config.app_id  || '' %>" id="appSecret">
                                                        <button type="button" id="btnGenerate" class="btn btn-success waves-effect waves-light w-md">Generate</button>
                                                    </div>
                                                </div>
                                                <div class="mt-4">
                                                    <p class="mb-1">Domain (if any):</p>
                                                    <input type="text" id="domain" class="form-control" value="<%= config.service_url || '' %>">
                                                </div>
                                                <div class="mt-4">
                                                    <div class="hstack gap-3" style="gap: 16rem !important;">
                                                        <p class="mb-1">Accessible Address:</p>
                                                        <p class="mb-1">Accessible Port:</p>
                                                    </div>
                                                    <div class="hstack gap-3">
                                                        <input type="text" id="accAddress" class="form-control" value="<%= config.accessible_address || '' %>">                                                        
                                                        <input type="text" id="accAddressPort" class="form-control" value="<%= config.accessible_address_port || '' %>">                                                        
                                                    </div>
                                                    <p>Your accessible address is: <span id="accUrl"></span></p>
                                                </div>
                                                <div class="d-flex flex-wrap gap-3 mt-3">
                                                    <a type="submit" id="btnSave" class="btn btn-primary waves-effect waves-light w-md">Save</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-xl-12">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <div class="text-muted">
                                            <h5 class="font-size-16">App Settings</h5>
                                            <div id="alertContainer561"></div>
                                            <div class="table-responsive mt-4">
                                                <div class="mt-4">
                                                    <p class="mb-1">App Name:</p>
                                                    <input type="text" id="appName" class="form-control" value="<%= config.app_name || '' %>">
                                                </div>
                                                <div class="mt-4">
                                                    <p class="mb-1">Package Name(Android):</p>
                                                    <input type="text" id="androidPkg" class="form-control" value="<%= config.package_name_android || '' %>">
                                                </div>
                                                <div class="mt-4">
                                                    <p class="mb-1">Package Name(ioS):</p>
                                                    <input type="text" id="iosPkg" class="form-control" value="<%= config.package_name_ios || '' %>">
                                                </div>
                                                <div class="d-flex flex-wrap gap-3 mt-3">
                                                    <a type="submit" id="btnSaveApp" class="btn btn-primary waves-effect waves-light w-md">Save</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                        <% } %>
                    </div> <!-- container-fluid -->
                </div>
            <!-- end main content-->
            <%- include('../partials/footer') %>
        </div>
        <!-- END layout-wrapper -->


        <!-- Right Sidebar -->
        <%- include('../partials/right_sidebar') %>
        <!-- /Right-bar -->

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- JAVASCRIPT -->
        <script src="assets/libs/jquery/jquery.min.js"></script>
        <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/libs/metismenu/metisMenu.min.js"></script>
        <script src="assets/libs/simplebar/simplebar.min.js"></script>
        <script src="assets/libs/node-waves/waves.min.js"></script>
        <script src="assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
        <script src="assets/libs/jquery.counterup/jquery.counterup.min.js"></script>
        <script src="../assets/js/search.js"></script>
        <!-- apexcharts -->
        <script src="assets/libs/apexcharts/apexcharts.min.js"></script>

        <script src="assets/js/pages/dashboard.init.js"></script>

        <!-- App js -->
        <script src="assets/js/app.js"></script>
<script>

const domainInput = document.getElementById('domain');
const accAddressInput = document.getElementById('accAddress');
const accAddressPortInput = document.getElementById('accAddressPort');
const accUrlSpan = document.getElementById('accUrl');
const streamAddressInput = document.getElementById('streamAddress');
const streamAddressPortInput = document.getElementById('streamAddressPort');
const streamUrlSpan = document.getElementById('streamurl');
const loginAddressInput = document.getElementById('loginAddress');
const loginAddressPortInput = document.getElementById('loginPort');
const loginUrlSpan = document.getElementById('loginUrl');
const appSecret = document.getElementById('appSecret');
const appName = document.getElementById('appName');
const agoraId = document.getElementById('agoraId');
const faqLink = document.getElementById('faqLink');
const pvcLink = document.getElementById('pvcLink');
const termLink = document.getElementById('termLink');
const androidPkg = document.getElementById('androidPkg');
const iosPkg = document.getElementById('iosPkg');

// Define the function to update URLs
function updateUrls() {
  if (domainInput.value === '') {
    accUrlSpan.textContent = accAddressInput.value + ':' + accAddressPortInput.value;
    streamUrlSpan.textContent = streamAddressInput.value + ':' + streamAddressPortInput.value;
    loginUrlSpan.textContent = loginAddressInput.value + ':' + loginAddressPortInput.value;
  } else {
    accUrlSpan.textContent = domainInput.value + ':' + accAddressPortInput.value;
    streamUrlSpan.textContent = domainInput.value + ':' + streamAddressPortInput.value;
    loginUrlSpan.textContent = domainInput.value + ':' + loginAddressPortInput.value;
  }
}

// Set the initial text content of the URL spans
updateUrls();

// Add event listeners to each input element
accAddressInput.addEventListener('input', updateUrls);
accAddressPortInput.addEventListener('input', updateUrls);
streamAddressInput.addEventListener('input', updateUrls);
streamAddressPortInput.addEventListener('input', updateUrls);
loginAddressInput.addEventListener('input', updateUrls);
loginAddressPortInput.addEventListener('input', updateUrls);
domainInput.addEventListener('input', updateUrls);


appSecret.addEventListener('change', function(event) {
  globalValues.api_key = event.target.value;
});

appName.addEventListener('change', function(event) {
  globalValues.app_name = event.target.value;
});

agoraId.addEventListener('change', function(event) {
  globalValues.agora_app_id = event.target.value;
});

faqLink.addEventListener('change', function(event) {
  globalValues.faq_link = event.target.value;
});

pvcLink.addEventListener('change', function(event) {
  globalValues.privacy_policy_link = event.target.value;
});

termLink.addEventListener('change', function(event) {
  globalValues.terms_link = event.target.value;
});

androidPkg.addEventListener('change', function(event) {
  globalValues.package_name_android = event.target.value;
});

iosPkg.addEventListener('change', function(event) {
  globalValues.package_name_ios = event.target.value;
});

streamAddressInput.addEventListener('change', function(event) {
  globalValues.stream_url = event.target.value;
});

loginAddressInput.addEventListener('change', function(event) {
  globalValues.web_login_url = event.target.value;
});

accAddressInput.addEventListener('change', function(event) {
  globalValues.socket_url = event.target.value;
});

domainInput.addEventListener('change', function(event) {
  globalValues.api_host = event.target.value;
});


  const globalValues = {
    "app_name": appName.value,
    "api_key": appSecret.value,
    "agora_app_id": agoraId.value,
    "api_host": domainInput.value+':'+accAddressPortInput.value,
    "socket_url": accAddressInput.value+':'+ accAddressPortInput.value,
    "stream_url": streamAddressInput.value+':'+streamAddressPortInput.value,
    "web_login_url": loginAddressInput.value+':'+loginAddressPortInput.value,
    "faq_link": faqLink.value,
    "privacy_policy_link": pvcLink.value,
    "terms_link": termLink.value,
    "package_name_android": androidPkg.value,
    "package_name_ios": iosPkg.value,
  };

  const downloadJsonButton = document.getElementById("download-json-button");
  downloadJsonButton.addEventListener("click", downloadGlobalJson);

    var appSecretText;
    $(document).ready(function() { 
        appSecretText = $('#appSecret'); 
        var token = appSecretText.val();
        $("#btnGenerate").click(function(){
        console.log(token)
        generateToken(token);

     });
    });
    async function generateToken(token) {
      $.ajax({
        type: "POST",
        url: "/admin/generateToken",
        data: {
            token: token,
        },
        success: function (res) {
            if (res.status === 'success') {
                appSecretText.val(res.hash);
            }
        },
        dataType: "json",
      });
    }

    $(document).ready(function() {  
        $('#alertContainer').empty();
        $("#agoraSave").click(function(){
        var agoraId = $('#agoraId').val();
        var agoraSecret = $('#agoraSecret').val();
        saveAgora(agoraId, agoraSecret);

     });
    });
    async function saveAgora(agoraId, agoraSecret) {
      $('#alertContainer').empty();

       $('#agoraSave').addClass("disabled");
        $('#agoraSave').html('Saving');

      $.ajax({
        type: "POST",
        url: "/admin/saveAgora",
        data: {
            agoraId: agoraId,
            agoraSecret: agoraSecret
        },
        success: function (res) {
            if (res.status === 'success') {
                $('#agoraSave').removeClass("disabled");
                 $('#agoraSave').html('Save');

                $('#alertContainer').html(`
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                ${res.message}
                </div>
                `);
                setTimeout(function () {
                    $('#alertContainer .alert').hide();
                }, 1000); 
                }
        },
        dataType: "json",
      });
    }

    $(document).ready(function() {  
        $('#alertContainer').empty();
        $("#stripeSave").click(function(){
        var pubKey = $('#pubKey').val();
        var secretKey = $('#licenseKey').val();
        saveStripe(pubKey, secretKey);

     });
    });
    async function saveStripe(pubKey, secretKey) {
      $('#alertContainer65').empty();

       $('#stripeSave').addClass("disabled");
        $('#stripeSave').html('Saving');

      $.ajax({
        type: "POST",
        url: "/admin/saveStripe",
        data: {
            pubKey: pubKey,
            secretKey: secretKey
        },
        success: function (res) {
            if (res.status === 'success') {
                $('#stripeSave').removeClass("disabled");
                 $('#stripeSave').html('Save');

                $('#alertContainer65').html(`
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                ${res.message}
                </div>
                `);
                setTimeout(function () {
                    $('#alertContainer65 .alert').hide();
                }, 1000); 
                }
        },
        dataType: "json",
      });
    }
   
    $(document).ready(function() {
  $('#cdn_type').change(function() {
    if ($(this).val() == 0) {
      $('#cdn_region').attr('disabled', true);
      $('#cdn_endpoint').attr('disabled', true);
      $('#cdn_key').attr('disabled', true);
      $('#cdn_secret').attr('disabled', true);
      $('#cdn_bucket_name').attr('disabled', true);
    } else {
      $('#cdn_region').attr('disabled', false);
      $('#cdn_endpoint').attr('disabled', false);
      $('#cdn_key').attr('disabled', false);
      $('#cdn_secret').attr('disabled', false);
      $('#cdn_bucket_name').attr('disabled', false);
    }
  });
});


    $(document).ready(function() {  
        $('#alertContainer6').empty();
        $("#btnCDN").click(function(){
        var cdnType = $('#cdn_type').val();
        var cdnRegion = $('#cdn_region').val();
        var cdnEndpoint = $('#cdn_endpoint').val();
        var cdnSecret = $('#cdn_secret').val();
        var cdnBucket = $('#cdn_bucket_name').val();
        var cdnKey = $('#cdn_key').val();

        saveCDN(cdnType, cdnRegion, cdnEndpoint, cdnSecret, cdnBucket, cdnKey);

     });
    });
    async function saveCDN(cdnType, cdnRegion, cdnEndpoint, cdnSecret, cdnBucket, cdnKey) {
      $('#alertContainer6').empty();

       $('#btnCDN').addClass("disabled");
        $('#btnCDN').html('Saving');

      $.ajax({
        type: "POST",
        url: "/admin/saveCDN",
        data: {
            cdnType: cdnType,
            cdnRegion: cdnRegion,
            cdnEndpoint: cdnEndpoint,
            cdnSecret: cdnSecret,
            cdnBucket: cdnBucket,
            cdnKey: cdnKey
        },
        success: function (res) {
            if (res.status === 'success') {
                $('#btnCDN').removeClass("disabled");
                 $('#btnCDN').html('Save');

                $('#alertContainer6').html(`
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                ${res.message}
                </div>
                `);
                setTimeout(function () {
                    $('#alertContainer6 .alert').hide();
                }, 1000); 
                }
        },
        dataType: "json",
      });
    }
    $(document).ready(function() {  
        $('#alertContainer').empty();
        $("#btnSave").click(function(){
        var accAddress = $('#accAddress').val();
        var appIcon = $('#appIcon').prop('files');
        var appSecret = $('#appSecret').val();
        var streamAddress = $('#streamAddress').val();
        var loginAddress = $('#loginAddress').val();
        var domain =   $('#domain').val();
        var streamAddressPort = $('#streamAddressPort').val();
        var accAddressPort = $('#accAddressPort').val();
        var loginPort = $('#loginPort').val();

        saveApp(appIcon, appSecret, accAddress, streamAddress, domain, streamAddressPort, accAddressPort, loginAddress, loginPort);

     });
    });
    async function saveApp(appIcon, appSecret, accAddress, streamAddress, domain, streamAddressPort, accAddressPort, loginAddress, loginPort) {
      $('#alertContainer1').empty();

          // Create a new FormData object
        const formData = new FormData();

        // Add the form fields and values
        formData.append('appSecret', appSecret);
        formData.append('accAddress', accAddress);
        formData.append('streamAddress', streamAddress);
        formData.append('domain', domain);
        formData.append('streamAddressPort', streamAddressPort);
        formData.append('accAddressPort', accAddressPort);
        formData.append('loginAddress', loginAddress);
        formData.append('loginPort', loginPort);

        // Add the file to the FormData object
        formData.append('appIcon', appIcon[0]);

        $('#btnSave').addClass("disabled");
        $('#btnSave').html('Saving');

      $.ajax({
        type: "POST",
        url: "/admin/saveApp",
        data: formData,
        success: function (res) {
            if (res.status === 'success') {
                $('#btnSave').removeClass("disabled");
                 $('#btnSave').html('Save');
                $('#alertContainer1').html(`
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                ${res.message}
                </div>
                `);
                setTimeout(function () {
                    $('#alertContainer1 .alert').hide();
                }, 1000); 
                }
        },
        // Set the content type to multipart/form-data
        contentType: false,
        // Set the processData option to false to prevent jQuery from trying to convert the FormData object to a string
        processData: false,
        dataType: 'json',
      });
    }
    $(document).ready(function() {  
        $('#alertContainer2').empty();
        $("#btnUpdate").click(function(){
            $('#btnUpdate').removeClass("disabled");
            $('#btnUpdate').html('Change');
        var id = $('#id').val();
        var password = $('#password').val();

        savePassword(id, password);

     });
    });
    async function savePassword(id, password) {
      $('#alertContainer2').empty();

      if (!password) {
            $('#alertContainer2').html(`
                <div class="alert alert-danger" role="alert">
                Please Enter Password.
                </div>
            `);
            setTimeout(function() {
                $('#alertContainer2 .alert').hide();
            }, 1000);
            return;
            }
            $('#btnUpdate').addClass("disabled");
            $('#btnUpdate').html('Changing');
      $.ajax({
        type: "POST",
        url: "/admin/savePassword",
        data: {
            id: id,
            password: password,
        },
        success: function (res) {
            if (res.status === 'success') {
                $('#btnUpdate').removeClass("disabled");
                $('#btnUpdate').html('Change');
                $('#alertContainer2').html(`
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                ${res.message}
                </div>
                `);
                setTimeout(function () {
                    $('#alertContainer2 .alert').hide();
                }, 1000); 
                }
        },
        dataType: "json",
      });
    }


    $(document).ready(function() {  
        $('#alertContainer').empty();
        $("#btnSaveAlgo").click(function(){
        var conversionRate = $('#conversionRate').val();
        var conversionRateCoin = $('#conversionRateCoin').val();
        var minWithdraw = $('#withdrawl').val();
        var videoPerDay = $('#boostPerDay').val();
        var boostPerView = $('#boostPerView').val();
        var adAlgo = $('#adAlgo').val();
        var reffReward = $('#reffReward').val();
        var commision = $('#commision').val();
        saveAlgo(conversionRate, minWithdraw, videoPerDay, adAlgo, reffReward, boostPerView, commision, conversionRateCoin);

     });
    });
    async function saveAlgo(conversionRate, minWithdraw, videoPerDay, adAlgo, reffReward, boostPerView, commision, conversionRateCoin) {
      $('#alertContainer56').empty();

       $('#btnSaveAlgo').addClass("disabled");
        $('#btnSaveAlgo').html('Saving');

      $.ajax({
        type: "POST",
        url: "/admin/saveAlgorithm",
        data: {
            conversionRate: conversionRate,
            minWithdraw: minWithdraw,
            reffReward: reffReward,
            videoPerDay: videoPerDay,
            adAlgo : adAlgo,
            boostPerView: boostPerView,
            commision: commision,
            conversionRateCoin: conversionRateCoin
        },
        success: function (res) {
            if (res.status === 'success') {
                $('#btnSaveAlgo').removeClass("disabled");
                 $('#btnSaveAlgo').html('Save');

                $('#alertContainer56').html(`
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                ${res.message}
                </div>
                `);
                setTimeout(function () {
                    $('#alertContainer56 .alert').hide();
                }, 1000); 
                }
        },
        dataType: "json",
      });
    }


    $(document).ready(function() {  
        $('#alertContainer').empty();
        $("#btnSaveApp").click(function(){
        var appName = $('#appName').val();
        var faqLink = $('#faqLink').val();
        var pvcLink = $('#pvcLink').val();
        var termsLink = $('#termLink').val();
        var androidPkg = $('#androidPkg').val();
        var iosPkg = $('#iosPkg').val();
        var iconStripe = null;
        saveAppSettings(appName, faqLink, pvcLink, termsLink, iconStripe, iosPkg, androidPkg);

     });
    });
    async function saveAppSettings(appName, faqLink, pvcLink, termsLink, iconStripe, iosPkg, androidPkg) {
      $('#alertContainer561').empty();

                // Create a new FormData object
                const formData = new FormData();

                formData.append('appName', appName);
                formData.append('faqLink', faqLink);
                formData.append('pvcLink', pvcLink);
                formData.append('termsLink', termsLink);
                formData.append('androidPkg', androidPkg);
                formData.append('iosPkg', iosPkg);
                formData.append('iconStripe', iconStripe[0]);


            $('#btnSaveApp').addClass("disabled");
                $('#btnSaveApp').html('Saving');

      $.ajax({
        type: "POST",
        url: "/admin/saveAppSettings",
        data: formData,
        success: function (res) {
            if (res.status === 'success') {
                $('#btnSaveApp').removeClass("disabled");
                 $('#btnSaveApp').html('Save');

                $('#alertContainer561').html(`
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                ${res.message}
                </div>
                `);
                setTimeout(function () {
                    $('#alertContainer561 .alert').hide();
                }, 1000); 
                }
        },
        contentType: false,
        processData: false,
        dataType: 'json',
      });
    }


    function downloadGlobalJson() {
    const blob = new Blob([JSON.stringify(globalValues)], {type: "application/json"});
    const url = URL.createObjectURL(blob);
    const a = document.createElement("a");
    a.href = url;
    a.download = "global.json";
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
    URL.revokeObjectURL(url);
  }
</script>
    </body>

</html>