<%- include('../partials/head', {titleName: "Sounds"}) %>
 
    <body data-sidebar="dark" data-layout-mode="dark" data-topbar="light">

    <!-- <body data-layout="horizontal" data-topbar="colored"> -->
        <div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                </div>
                <div class="modal-body">
                    <div id="alertContainer"></div>
                    Are you sure you want to delete?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="closeModal" data-dismiss="exampleModalLabel">Cancel</button>
                        <button type="button" class="btn btn-danger" id="deleteSticker">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Begin page -->
        <div id="layout-wrapper">

            <%- include('../partials/page_top') %>

            <!-- ========== Left Sidebar Start ========== -->
            <%- include('../partials/side_menu', {selected: 6}) %>
            <!-- Left Sidebar End -->

            

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <% if (user.power == 0) { %>
                                <div class="col-12">
                                  <div class="alert alert-warning" role="alert">
                                    This is a demo account. Any changes you make will not be saved.
                                  </div>
                                </div>
                              <% } %>
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0">Sounds</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="card">
                                    <div class="card-body"  style="padding: 0;">
                                        <div class="row mb-2" style="margin-top: 20px; margin-left: 10px;">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addUser"><i class="mdi mdi-plus me-1"></i> Add Sound</button>                                               
                                                </div>
                                            </div>
                                        </div>
                                        <div data-simplebar>
                                            <div class="table-responsive">
                                                <table class="table table-borderless table-centered table-nowrap">
                                                    <thead class="table-light">
                                                        <tr>
                                                            <th style="width: 20x;">#</th>
                                                            <th></th>
                                                            <th>Sound Title</th>
                                                            <th>Sound Url</th>
                                                            <th>Sound Artist</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="mySound">
                                                        <% for(let i=0; i<sounds.length; i++) {%>
                                                            <% const element = sounds[i]; %>
                                                        <tr>
                                                             <td style="width: 20x;"><%= i +1%></td>
                                                             <td><img src="<%= element.albumPhotoUrl || 'https://static.vecteezy.com/system/resources/previews/002/249/673/original/music-note-icon-song-melody-tune-flat-symbol-free-vector.jpg' %>" class="rounded" width="50"></td>
                                                             <td><h6 class="font-size-15 mb-1 fw-normal"><%= element.title %></h6></td>
                                                             <td><h6 class="font-size-15 mb-1 fw-normal"><%= element.soundUrl %></h6></td>
                                                             <td><h6 class="font-size-15 mb-1 fw-normal"><%= element.artist %></h6></td>
                                                             <td class="text-muted fw-semibold text-center"><i class="icon-xs icon me-2 text-success" data-feather="trending-up"></i>
                                                                <a onclick="deleteUser(this, '<%= element.id %>')" type="button" class="btn btn-outline-danger btn-sm edit" title="Delete">
                                                                    <i class="fas fa-trash-alt"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <% }%>
                                                    </tbody>
                                                </table>
                                                <div class="col-lg-12" style=" text-align: center; padding-bottom: 20px;">
                                                    <a type="submit" class="btn btn-primary" id="btnLoad">Load More</a>
                                                </div>
                                            </div> <!-- enbd table-responsive-->
                                        </div> <!-- data-sidebar-->
                                    </div><!-- end card-body-->
                                </div> <!-- end card-->
                            </div>
                        </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                <div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header py-3 px-4 border-bottom-0">
                                <h5 class="modal-title" id="modal-title">Add Sound</h5>
                                <button type="button" class="btn-close" aria-hidden="true" id="btnCloseModal" data-dismiss="modal"></button>
                            </div>
                            <div class="modal-body p-4">                                        
                                <div class="needs-validation" novalidate>
                                    <div class="row">
                                        <div id="alertContainer"></div>
                                        <div class="col-12">
                                            <div class="mb-3">
                                                <label class="form-label">Title</label>
                                                <input type="text" class="form-control" id="title" placeholder="Enter Name" required>
                                                <div class="invalid-feedback">
                                                    Enter Title
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="mb-3">
                                                <label class="form-label">Sound</label>
                                                <input type="file" class="form-control" id="sound" required accept=".mp3">
                                                <div class="invalid-feedback">
                                                    Enter Sound
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Album Photo</label>
                                            <input type="file" class="form-control" id="photo" required accept=".jpg, .png, .jpeg">
                                            <div class="invalid-feedback">
                                                Enter Album Photo
                                            </div>
                                        </div>
                                    </div>
                                        <div class="col-12">
                                            <div class="mb-3">
                                                <label class="form-label">Sound Category</label>
                                                <select class="form-control form-select" id="soundCategory" required placeholder="Enter Name">
                                                    <% for(let i=0; i<soundCategories.length; i++) {%>
                                                        <% const element = soundCategories[i]; %>
                                                           <option value="<%= element.id %>"><%= element.name %></option>
                                                    <% }%>
                                                </select>
                                                <div class="invalid-feedback">
                                                    Enter Sound Category
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="mb-3">
                                                <label class="form-label">Artist</label>
                                                <input type="text" class="form-control" id="artist" placeholder="Enter Name" required>
                                                <div class="invalid-feedback">
                                                    Enter Artist
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="mb-3">
                                                <input type="text" class="form-control" id="id" placeholder="Enter Name" hidden value="<%= user.id%>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-12 text-end">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <button type="button" class="btn btn-success" id="btnSave">Save</button>
                                        </div>
                                    </div>
                                </div>   
                            </div>
                        </div> 
                        <!-- end modal-content-->
                    </div>
                </div>

            </div>
            <!-- end main content-->
            <%- include('../partials/footer') %>
        </div>
        <!-- END layout-wrapper -->

        

        <!-- Right Sidebar -->
        <%- include('../partials/right_sidebar') %>
        <!-- /Right-bar -->

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- JAVASCRIPT -->
        <script src="../assets/libs/jquery/jquery.min.js"></script>
        <script src="../assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../assets/libs/metismenu/metisMenu.min.js"></script>
        <script src="../assets/libs/simplebar/simplebar.min.js"></script>
        <script src="../assets/libs/node-waves/waves.min.js"></script>
        <script src="../assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
        <script src="../assets/libs/jquery.counterup/jquery.counterup.min.js"></script>
        <script src="../assets/libs/apexcharts/apexcharts.min.js"></script>
        <script src="../assets/js/search.js"></script>
        <script src="../assets/js/pages/dashboard.init.js"></script>

        <!-- App js -->
        <script src="../assets/js/app.js"></script>   
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- App js -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="assets/libs/parsleyjs/parsley.min.js"></script>
        <script src="assets/js/pages/form-validation.init.js"></script>
        <script>
        $('#closeModal').click(function () {
            $('#deleteUser').modal('hide');
        });
        $(document).ready(function() {  
           $('#alertContainer').empty();
                $("#btnSave").click(function(){
                var id = $("#id").val();
                var title = $("#title").val();
                var artist = $("#artist").val();
                var soundCategory = $("#soundCategory").val();
                var sound = $("#sound").prop('files');
                var photo = $("#photo").prop('files');
        
                uploadData(id, title, artist, sound, photo, soundCategory);
        
             });
            });
            async function uploadData(id, title, artist, sound, photo, soundCategory) {
              $('#alertContainer').empty();
        
              const formData = new FormData();
        
                // Add the form fields and values
                formData.append('id', id);
                formData.append('title', title);
                formData.append('artist', artist);
                formData.append('soundCategory', soundCategory);
                formData.append('sound', sound[0]);
                formData.append('photo', photo[0]);

                console.log(formData)

                $('#btnSave').addClass("disabled");
                $('#btnSave').html('Saving..');
        
              $.ajax({
                type: "POST",
                url: "/admin/addSound",
                data:  formData,
                success: function (res) {
                    if (res.status === 'success') {
                        window.location.reload();
                        $('#btnSave').removeClass("disabled");
                        $('#btnSave').html('Save');

                        $('#alertContainer').html(`
                            <div class="alert alert-success" role="alert">
                                ${res.message}
                            </div>
                        `);
                        setTimeout(function () {
                            $('#alertContainer .alert').hide();
                        }, 2000); 
                        }
                },
                // Set the content type to multipart/form-data
                contentType: false,
                // Set the processData option to false to prevent jQuery from trying to convert the FormData object to a string
                processData: false,
                dataType: 'json',
              });
            }
        function deleteUser(element, reportId) {
        $('#deleteUser').modal('show');
        var id = reportId;
        let btn = element;
        console.log(btn);
        $('#deleteSticker').click(function () {
            $.ajax({
                url: 'deleteSound',
                type: 'POST',
                data: {
                    id: id
                },
                success: function (res) {
                    if (res.status === 'success') {
                        $('#deleteUser').modal('hide');
                        btn.parentNode.parentNode.remove();
                        $('#alertContainer').html(`
                        <div class="alert alert-success" role="alert">
                            ${res.message}
                        </div>
                    `);
                setTimeout(function () {
                    $('#alertContainer .alert').hide();
                }, 2000);
            }
                },
                dataType: "json",
            });
        });
        }
        $('#btnLoad').click(function () {

            var soundsCount = <%= sounds.length %>;

            changeButtonText();
            $.ajax({
                url: 'fetch/sounds',
                type: 'GET',
                data: {
                   'from': soundsCount,
                },
                dataType: "json",
                success: function (res) {
                    $('#btnLoad').html('Load More');
                        const sounds = res.sounds;
                        let html = '';
                        for (let i = 0; i < sounds.length; i++) {
                        const element = sounds[i];
                        html += `
                            <tr>
                            <td style="width: 20x;">${i + 21}</td>
                            <td><img src='https://static.vecteezy.com/system/resources/previews/002/249/673/original/music-note-icon-song-melody-tune-flat-symbol-free-vector.jpg' class="rounded" width="50"></td>                            
                            <td><h6 class="font-size-15 mb-1 fw-normal">${element.title}</h6></td>
                            <td><h6 class="font-size-15 mb-1 fw-normal">${element.soundUrl}</h6></td>
                            <td><h6 class="font-size-15 mb-1 fw-normal">${element.artist}</h6></td>
                            <td class="text-muted fw-semibold text-center">
                                <i class="icon-xs icon me-2 text-success" data-feather="trending-up"></i>
                                <a onclick="deleteUser(this, '${element.id}')" type="button" class="btn btn-outline-danger btn-sm edit" title="Delete">
                                <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                            </tr>
                        `;
                        }

                        $('#mySound').append(html);
               },
                dataType: "json",
            });
        });
        function changeButtonText() {
        // Get the button element
        var button = document.getElementById("btnLoad");
        // Update the innerHTML of the button element with the spinner
        button.innerHTML = '<div class="spinner-border text-light" role="status"></div>';
        }
        </script>

    </body>

</html>